:root {
  --white: #fff;
  --border-light: #ebebeb;
  --background: #f5f6f8;
  --text-main-color: #3b434e;
  --hh-color: #de0000;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --ghost-hover: #e0e0e0;
  --accent-orange: #fc836d;
  --accent-green: #1dc47e;
  --tag-grey: #b3c0d9;
  --background-accent-green: #c8f8e4;
  --border-radius-boxes: 5px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-main-color);
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}
